In [89]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [111]:
sbdrinks_csv = "Resources/starbucks_drinks.csv"
mcdfood_csv = "Resources/mcd_menu.csv"
swfood_csv = "Resources/sw_food.csv"


starbucks_drinks_df = pd.read_csv(sbdrinks_csv, na_values=['-'])
mcd_df = pd.read_csv(mcdfood_csv)
sw_menu_df = pd.read_csv(swfood_csv)

In [112]:
display(starbucks_drinks_df.head())
display(mcd_df.head())
display(sw_menu_df.head())

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45.0,0.0,11.0,0.0,0.0,10.0
1,Ombré Pink Drink,NaN,NaN,NaN,NaN,NaN,NaN
2,Pink Drink,NaN,NaN,NaN,NaN,NaN,NaN
3,Strawberry Acai Starbucks Refreshers™ Beverage,80.0,0.0,18.0,1.0,0.0,10.0
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60.0,0.0,14.0,1.0,0.0,10.0

,Category,Item,Serving Size,Calories,Calories from Fat,Total Fat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

,Unnamed: 0,Category,Serving Size (g),Calories,Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Carbohydrates (g),Dietary Fiber (g),Sugars (g),Protein (g),Vitamin A % DV,Vitamin C % DV,Calcium % DV,Iron % DV
0,BBQ Rib,Sandwich,208,580,31.0,10.0,0.0,60,1260,54,3,18,21,8,4,4,20
1,Black Forest Ham,Sandwich,219,260,4.0,1.5,0.0,30,720,42,5,8,18,30,15,4,15
2,Chicken & Bacon Ranch Melt,Sandwich,284,530,26.0,10.0,0.5,100,1100,41,3,6,36,40,25,20,20
3,Chicken Mango Curry,Sandwich,234,330,7.0,1.5,0.0,50,840,43,3,9,24,15,20,2,25
4,Chicken Tikka,Sandwich,205,290,5.0,1.0,0.0,50,720,39,2,6,23,10,10,0,25

In [92]:
starbucks_drinks_df.columns

Index(['Unnamed: 0', 'Calories', 'Fat (g)', 'Carb. (g)', 'Fiber (g)',
       'Protein', 'Sodium'],
      dtype='object')

In [93]:
new_starbucks_drinks_df = starbucks_drinks_df.rename(columns ={"Unnamed: 0": "item", 'Calories': 'calories', 'Fat (g)' : 'total_fat', 'Carb. (g)': 'carbohydrates', 'Protein': 'protein'})

In [94]:
new_starbucks_drinks_df.columns

Index(['item', 'calories', 'total_fat', 'carbohydrates', 'Fiber (g)',
       'protein', 'Sodium'],
      dtype='object')

In [95]:
new_starbucks_drinks_df.head()

,item,calories,total_fat,carbohydrates,Fiber (g),protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45.0,0.0,11.0,0.0,0.0,10.0
1,Ombré Pink Drink,NaN,NaN,NaN,NaN,NaN,NaN
2,Pink Drink,NaN,NaN,NaN,NaN,NaN,NaN
3,Strawberry Acai Starbucks Refreshers™ Beverage,80.0,0.0,18.0,1.0,0.0,10.0
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60.0,0.0,14.0,1.0,0.0,10.0

In [96]:
new_starbucks_drinks_df = new_starbucks_drinks_df[['item', 'calories', 'total_fat', 'carbohydrates', 'protein']]
new_starbucks_drinks_df.head()

,item,calories,total_fat,carbohydrates,protein
0,Cool Lime Starbucks Refreshers™ Beverage,45.0,0.0,11.0,0.0
1,Ombré Pink Drink,NaN,NaN,NaN,NaN
2,Pink Drink,NaN,NaN,NaN,NaN
3,Strawberry Acai Starbucks Refreshers™ Beverage,80.0,0.0,18.0,0.0
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60.0,0.0,14.0,0.0

In [97]:
new_starbucks_drinks_df.isnull().sum()

item              0
calories         85
total_fat        85
carbohydrates    85
protein          85
dtype: int64

In [98]:
new_starbucks_drinks_df.dtypes

item              object
calories         float64
total_fat        float64
carbohydrates    float64
protein          float64
dtype: object

In [99]:
new_mcd_df = mcd_df[['Item', 'Calories', 'Total Fat', 'Carbohydrates', 'Protein']]
new_mcd_df = new_mcd_df.rename(columns ={"Item":"item", "Total Fat": "total_fat", 'Calories': 'calories', "Carbohydrates": "carbohydrates", "Protein": "protein" })
new_mcd_df.head()

,item,calories,total_fat,carbohydrates,protein
0,Egg McMuffin,300,13.0,31,17
1,Egg White Delight,250,8.0,30,18
2,Sausage McMuffin,370,23.0,29,14
3,Sausage McMuffin with Egg,450,28.0,30,21
4,Sausage McMuffin with Egg Whites,400,23.0,30,21

In [113]:
sw_menu_df.columns

Index(['Unnamed: 0', 'Category', 'Serving Size (g)', 'Calories',
       'Total Fat (g)', 'Saturated Fat (g)', 'Trans Fat (g)',
       'Cholesterol (mg)', 'Sodium (mg)', 'Carbohydrates (g)',
       'Dietary Fiber (g)', 'Sugars (g)', 'Protein (g)', 'Vitamin A % DV',
       'Vitamin C % DV', 'Calcium % DV', 'Iron % DV'],
      dtype='object')

In [114]:
new_sw_menu_df = sw_menu_df.rename(columns ={"Unnamed: 0": "item", 'Calories': 'calories', "Total Fat (g)": "total_fat", "Carbohydrates (g)": "carbohydrates", "Protein (g)": "protein"})

In [115]:
new_sw_menu_df.columns

Index(['item', 'Category', 'Serving Size (g)', 'calories', 'total_fat',
       'Saturated Fat (g)', 'Trans Fat (g)', 'Cholesterol (mg)', 'Sodium (mg)',
       'carbohydrates', 'Dietary Fiber (g)', 'Sugars (g)', 'protein',
       'Vitamin A % DV', 'Vitamin C % DV', 'Calcium % DV', 'Iron % DV'],
      dtype='object')

In [117]:
new_sw_menu_df = new_sw_menu_df[['item', 'calories', 'total_fat', 'carbohydrates', 'protein']]
new_sw_menu_df.head()

                         item  calories  total_fat  carbohydrates  protein
0                     BBQ Rib       580       31.0             54       21
1            Black Forest Ham       260        4.0             42       18
2  Chicken & Bacon Ranch Melt       530       26.0             41       36
3         Chicken Mango Curry       330        7.0             43       24
4               Chicken Tikka       290        5.0             39       23

In [118]:
rds_connection_string = "postgres:<password>@localhost:5432/starbucks_menu"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [119]:
engine.table_names()

['starbucks_menu_drinks', 'mcd_menu', 'sw_menu']

In [103]:
new_starbucks_drinks_df.to_sql(name='starbucks_menu_drinks', con=engine, if_exists='replace', index=False)

In [104]:
new_mcd_df.to_sql(name='mcd_menu', con=engine, if_exists='replace', index=False)

In [120]:
new_sw_menu_df.to_sql(name='sw_menu', con=engine, if_exists='replace', index=False)

In [106]:
pd.read_sql_query('select * from starbucks_menu_drinks', con=engine).head()

,item,calories,total_fat,carbohydrates,protein
0,Cool Lime Starbucks Refreshers™ Beverage,45.0,0.0,11.0,0.0
1,Ombré Pink Drink,NaN,NaN,NaN,NaN
2,Pink Drink,NaN,NaN,NaN,NaN
3,Strawberry Acai Starbucks Refreshers™ Beverage,80.0,0.0,18.0,0.0
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60.0,0.0,14.0,0.0

In [107]:
pd.read_sql_query('select * from mcd_menu', con=engine).head()

,item,calories,total_fat,carbohydrates,protein
0,Egg McMuffin,300,13,31,17
1,Egg White Delight,250,8,30,18
2,Sausage McMuffin,370,23,29,14
3,Sausage McMuffin with Egg,450,28,30,21
4,Sausage McMuffin with Egg Whites,400,23,30,21

In [121]:
pd.read_sql_query('select * from sw_menu', con=engine).head()

                         item  calories  total_fat  carbohydrates  protein
0                     BBQ Rib       580         31             54       21
1            Black Forest Ham       260          4             42       18
2  Chicken & Bacon Ranch Melt       530         26             41       36
3         Chicken Mango Curry       330          7             43       24
4               Chicken Tikka       290          5             39       23